* {
  box-sizing: border-box;
}

.avatar {
  min-width:80px;
  
  min-height:80px;
  max-width:200px;
  max-height:200px;
}
div img {
  width:100%;
  height:100%;
}
.skill {
  width:60px;
  height:60px;
  border:1px solid black;
  border-radius: 5px;
  padding:5px;
}
.timeline .circle{
  display:inline-block;
  width:16px;
  height:16px;
  margin-top:14px;
  margin-bottom:0px;
  margin-left:7px;
  margin-right:7px;
  border-radius: 50%;
  background-color: red;
  box-shadow: inset 0 0 0 1000px red;
  position:relative;
  z-index:2;
}

.timeline .v_ligne {
  height:100%;
  min-height: 100%;
  width:5px;
  margin:auto;
  background-color: black;
  box-shadow: inset 0 0 0 1000px black;
  display:block;
  position:relative;
  top:-20px;
  z-index:1;
}

.time_li {
  left:-36px;
}
section {
  margin-bottom:1em;
}
section h2 {
  font-size: 2em;
  text-align: center;
}
#test_bg {
    position:absolute;
    width: 150px;
    height: 3em;
    left:0;
    right:0;
    margin-left:250px;
    transform:translate(-20px) skew(-30deg);
    background: rgba(255, 0, 0, 0.349);
  
}