* {
  box-sizing: border-box;
}

.avatar {
  margin:auto;
  min-width:80px;
  
  min-height:80px;
  max-width:200px;
  max-height:200px;
  
}
.avatar img {
  border: 5px solid black;
  border-radius: 50%;
}
div img {
  width:100%;
  height:100%;
}
.skill {
  width:60px;
  height:60px;
  border:1px solid black;
  border-radius: 5px;
  padding:5px;
}
.timeline .circle0{
  display:inline-block;
  width:16px;
  height:16px;
  margin-top:14px;
  margin-bottom:0px;
  margin-left:7px;
  margin-right:7px;
  border-radius: 50%;
  background-color: red;
  box-shadow: inset 0 0 0 1000px red;
  position:relative;
  z-index:2;
}
.timeline .circle{
  display:inline-block;
  width:16px;
  height:16px;
  margin-top:14px;
  margin-bottom:0px;
  margin-left:7px;
  margin-right:7px;
  /* border-radius: 50%; */
  background-color: rgb(4,125,197);
  box-shadow: inset 0 0 0 1000px rgb(4,125,197);
  position:relative;
  z-index:2;
  transform:translate(0em) skew(-30deg);
}
.timeline .v_ligne {
  height:100%;
  min-height: 100%;
  width:5px;
  margin:auto;
  background-color: black;
  box-shadow: inset 0 0 0 1000px black;
  display:block;
  position:relative;
  top:-20px;
  z-index:1;
}

.time_li {
  left:-36px;
}
section {
  margin-bottom:1em;
  /* background-color: aliceblue;
  z-index:-2; */
}
section>h2 {
  font-size: 2em;
  text-align: center;
  
}


.section_title {
  width: 100%;
  text-align: center;
  color:black;
  /* z-index:1; */
  /* background-color: #0666a3 */
}
.title_box {
    /* position:absolute;
    width: 150px;
    height: 3em;
    left:0;
    right:0;
    margin-left:250px;
    transform:translate(-20px) skew(-30deg);
    background: rgba(255, 0, 0, 0.349); */
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    /* background-color: #8ebf42   */
}
/* .title_deco {
  position:absolute;
  height: 3em;
  transform:translate(-1.5em) skew(-30deg);
  z-index:-1;

  background: rgba(54, 154, 201, 0.349);
  border:2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;

} */
.title_deco {
  position:absolute;
  height: 3em;
  transform:translate(-1.5em) skew(-30deg);
  z-index:-1;
  
  background: rgba(255, 255, 255, 0.466);
  border-top:1px solid rgb(4,125,197);
  border-bottom:1px solid rgb(4,125,197);  
  border-left:10px solid rgb(4,125,197);
  border-right:10px solid #047dc5;

}
.section_content {
    background-color: aliceblue;
}
.info {
  display:flex;
  align-items: center;
}
.info i {
  width:30px;
  height:30px;
  margin:10px;
}